<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title>Home page!</title>
</head>
<body>
    <img src="logo.png" width="150" height="120">
    <h1 class="redText">Hello world</h1>
    {{#if name}}
        <h2 class="redText">Welcome {{name}}!</h2>
    {{/if}}

    <form action="/register" method="post">
        <input type="text" name="txtName">
        <input type="submit" value="send" class="redText">
    </form>
</body>
</html>